<div class="col-sm-12">
  <div class="row">
    <%= for (track) in tracks { %>
      <div class="col-sm-6 track" data-no="<%= track.No %>">
        <a class="btn btn-info col-sm-12 btn-lg" href="#"> <%= "Track " + track.No %></a>
      </div>
    <% } %>
  </div>
  <div class="row">
    <div class="col-sm-2 play"><a class="btn btn-info btn-lg" href="<%= componentsPath() %>">Back</a></div>
    <div class="col-sm-2 col-sm-offset-3 play"><a class="btn btn-success col-sm-12 btn-lg" href="<%= playPath() %>">Play</a></div>
  </div>
</div>
