<div class="col-sm-12">
  <div class="row tracks" >
    <%= for (track) in tracks { %>
      <div class="col-sm-6 track">
        <button class="btn btn-info col-sm-12 btn-lg" data-no="<%= track.No %>"> <%= "Track " + track.No %></button>
      </div>
    <% } %>
  </div>
  <div class="row">
    <div class="col-sm-2"><a class="btn btn-info btn-lg" href="<%= settingsPath() %>">Back</a></div>
    <div class="col-sm-2"><button class="btn btn-success col-sm-12 btn-lg play_track">Play</button></div>
    <div class="col-sm-4"><button class="btn btn-success col-sm-12 btn-lg move_arm">Move Tone Arm</button></div>
  </div>
</div>
