<div class="dashboard">
  <div class="row rpms">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <button class="btn btn-success btn-lg" data-rpm="1">33.33 rpm</button>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-success btn-lg" data-rpm="0">45 rpm</button>
      </div>
    </div>
  </div>
  <div class="row play_row">
    <div class="col-xs-12">
      <div class="col-xs-6 col-sm-offset-3">
        <button class="btn btn-success btn-lg" id="start_platter">Play</button>
      </div>
    </div>
  </div>
</div>
